.card {
    box-sizing: border-box;
    margin: 1rem;
    padding: .3rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 5px;
    color: #FFAAAA;
    background-color: #AA3939;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
    transition: .5s;
}

.card:hover {
    transform: scale(1.05);
}